
<div ng-controller="cashflowController">
	<!-- <br><br> -->
	<h2>Cash Flow Analysis</h2>
	<div class="row">
	    <div class="col-xs-4">
		    <label class="font-small">Total Funding</label>
		    <div class="input-group input-group-sm input-small" ng-class="{true: 'has-error', false: ''}[total_business_funding_empty]">
  				<span class="input-group-addon">$</span>
  				<input type="text" class="form-control" ng-model="total_business_funding" ng-blur="checkEmpty(total_business_funding)">
			</div>
			<br>
			<label class="font-small">Up-Front Fee for Business Funding</label>
		    <div class="input-group input-group-sm input-small" ng-class="{true: 'has-error', false: ''}[up_front_fees_empty]">
  				<span class="input-group-addon">$</span>
  				<input type="text" class="form-control" ng-model="up_front_fees">
			</div>
			<br>
			<label class="font-small">Back-End Fees for Business Funding</label>
		    <div class="input-group input-group-sm input-small" ng-class="{true: 'has-error', false: ''}[back_end_fees_empty]">
  				<span class="input-group-addon">$</span>
  				<input type="text" class="form-control" ng-model="back_end_fees">
			</div>
		</div>

		<div class="col-xs-4">
		    <label class="font-small">Amount of Funding Reserved for Additional Funding</label>
		    <div class="input-group input-group-sm input-small" ng-class="{true: 'has-error', false: ''}[amount_of_funding_empty]">
  				<span class="input-group-addon">$</span>
  				<input type="text" class="form-control" ng-model="amount_of_funding">
			</div>
			<br>
			<label class="font-small">Interest Reserve (Monthly Payment) as % Funding</label>
		    <div class="input-group input-group-sm input-small" ng-class="{true: 'has-error', false: ''}[interest_reserve_empty]">
  				<input type="text" class="form-control" ng-model="interest_reserve" ng-blur="interestReserveCheckIfWhole()">
  				<span class="input-group-addon">%</span>
			</div>
			<br>
			<label class="font-small">Variable Interest Rate on LOC</label>
		    <div class="input-group input-group-sm input-small" ng-class="{true: 'has-error', false: ''}[variable_interest_rate_loc_empty]">
  				<input type="text" class="form-control" ng-model="variable_interest_rate_loc" ng-blur="variableInterestRateCheckIfWhole()">
  				<span class="input-group-addon">%</span>
			</div>
		</div>

		<div class="col-xs-4">
			<label class="font-small">Loan Amortization Terms</label>
		    <div class="input-group input-group-sm input-small" ng-class="{true: 'has-error', false: ''}[loan_amortization_empty]">
  				<span class="input-group-addon">Years</span>
  				<input type="text" class="form-control" ng-model="loan_amortization">
			</div>
			<br>
			<label class="font-small">Monthly Net P/L Percentage</label>
		    <div class="input-group input-group-sm input-small" ng-class="{true: 'has-error', false: ''}[pl_percentage_empty]">
  				<input type="text" class="form-control" ng-model="pl_percentage">
  				<span class="input-group-addon">%</span>
			</div>
		</div>
	</div>

	<br><hr><br>

	<div class="row">
		<div class="col-xs-5">
			<ul class="list-group">
			  <li class="list-group-item">
			    <span class="badge">${{ total_business_funding | number }}</span>
			    <strong>Total Funding</strong>
			  </li>
			  <li class="list-group-item">
			    <span class="badge">${{ up_front_fees | number }}</span>
			    <strong>Up-Front Fees</strong>
			  </li>
			  <li class="list-group-item">
			    <span class="badge">${{ back_end_fees | number }}</span>
			    <strong>Back-End Fees</strong>
			  </li>
			  <li class="list-group-item">
			    <span class="badge">${{ amount_of_funding | number }}</span>
			    <strong>Getting Additional Non PG Funding</strong>
			  </li>
			  <li class="list-group-item">
			    <span class="badge">${{ netFundingAmount() | number }}</span>
			    <strong>Net Funding Amount</strong>
			  </li>
			  <li class="list-group-item">
			    <span class="badge">${{ interestReserve() | number:0 }}</span>
			    <strong>Interest Reserve</strong>
			  </li>
			  <li class="list-group-item">
				    <span class="badge">${{ amountInvestedInManagedAccounts() | number }}</span>
				    <strong>Amount Invested In Managed Accounts</strong>
			  	</li>
			</ul>
		</div>
		<div class="col-xs-1"></div>
		<div class="col-xs-5">
			<ul class="list-group">
				<li class="list-group-item">
				    <span class="badge">{{ variableInterestRate() }}%</span>
				    <strong>Variable Interest Rate on LOC</strong>
			  	</li>
			  	<li class="list-group-item">
				    <span class="badge">{{ monthlyPayments() }}</span>
				    <strong>Monthly Payments</strong>
			  	</li>
			  	<li class="list-group-item">
				    <span class="badge">{{ monthsOfPaymentsReserved() }}</span>
				    <strong>Number of Months of Payments Reserved</strong>
			  	</li>
			  	<li class="list-group-item">
				    <span class="badge">{{ effectiveMonthlyCostOfCapital() }}%</span>
				    <strong>Effective Monthly Cost of Capital</strong>
			  	</li>
			  	<li class="list-group-item">
				    <span class="badge">${{ monthlyNetPL(pl_percentage) | number }}</span>
				    <strong>Monthly Net P/L Assuming {{ pl_percentage }}% Net Return</strong>
			  	</li>
			  	<li class="list-group-item">
				    <span class="badge">${{ monthlyPrincipalRepayment() | number }}</span>
				    <strong>Monthly Principal Repayment</strong>
			  	</li>
			  	<li class="list-group-item">
				    <span class="badge">{{ monthsForRepayment() }}</span>
				    <strong>Months for Repayment of Initial Amount</strong>
			  	</li>
			  <!-- <li class="list-group-item">
			    <span class="badge">${{ monthlyNetPL(4) | number }}</span>
			    <strong>Monthly Net P/L Assuming 4% Net Return</strong>
			  </li>
			  <li class="list-group-item">
			    <span class="badge">${{ monthlyNetPL(5) | number }}</span>
			    <strong>Monthly Net P/L Assuming 5% Net Return</strong>
			  </li>
			  <li class="list-group-item">
			    <span class="badge">${{ monthlyNetPL(6) | number }}</span>
			    <strong>Monthly Net P/L Assuming 6% Net Return</strong>
			  </li>
			   <li class="list-group-item">
			    <span class="badge">${{ monthlyNetPL(8) | number }}</span>
			    <strong>Monthly Net P/L Assuming 8% Net Return</strong>
			  </li>
			  <li class="list-group-item">
			    <span class="badge">${{ monthlyNetPL(10) | number}}</span>
			    <strong>Monthly Net P/L Assuming 10% Net Return</strong>
			  </li> -->
			</ul>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12 font-smallest">
			<br><br><br><br>
			<p>Legal Disclaimer: The Financial Freedom Foundation is not a United States Securities Dealer, Broker, US Investment Advise, or Law Firm
			and does not offer legal advice nor investment advice. Forex, futures, stock, and options trading are not appropriate for everyone.
			Trading and investing in the stock, Forex, futures, and options markets have large potential rewards. However, there is also a substantial risk
			of loss associated with trading these markets. Losses can and will occur. You are solely responsible for any losses as a result of trading.
			Never put your money on the line without an understanding of what you are doing, and why you are doing it, based on your own personal
			knowledge and experience. Results, depicted above are unique to the user. Your personal results will vary. You could make more, less, or
			even lose money. No system or methodology has ever been developed that can guarantee profits. No representation or implication is being made
			that using the information will generate profits or ensure freedom from losses. Traders should consult their own financial advisers regarding
			any securities transaction, and be responsible for their own investment decisions.</p>
		</div>
	</div>
</div>